/*main*/
.Detail .main{width:100%;overflow: auto;height:75.88%;}
.Detail .main img{width:100%;height:8.1rem;}
.Detail .main .con{padding:1.35rem 1.4rem 0 0.55rem;box-sizing: border-box;}
.Detail .main .con p{font-size:0.6rem;line-height: 0.9rem;color:#585858;}
.Detail .main .con .sp1{margin:0 1.25rem;}
.Detail .main .con .p1{margin:0.7rem 0;}